<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.css" integrity="sha512-MQXduO8IQnJVq1qmySpN87QQkiR1bZHtorbJBD0tzy7/0U9+YIC93QWHeGTEoojMVHWWNkoCp8V6OzVSYrX0oQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>Home page</h1>
    <a href="/booking">booking</a>
    <a href="/auth/login">login</a>

    <form action="/search-rooms" method="GET">
        <label for="checkInDate">Check-in Date:</label>
        <input type="date" name="checkInDate" required>
    
        <label for="checkOutDate">Check-out Date:</label>
        <input type="date" name="checkOutDate" required>
    
        <button type="submit">Search Rooms</button>
    </form>

    <form action="/availability" method="GET">
        <label for="roomNumber">Select Room:</label>
        <select name="roomNumber" id="roomNumber" required>
            <% rooms.forEach(room => { %>
                <option value="<%= room.roomNumber %>">Room <%= room.roomNumber %> (Capacity: <%= room.capacity %>)</option>
            <% }); %>
        </select>

        <label for="month">Select Month:</label>
        <select name="month" id="month" required>
            <% for(let i = 1; i <= 12; i++) { %>
                <option value="<%= i %>"><%= new Date(2025, i - 1, 1).toLocaleString('default', { month: 'long' }) %></option>
            <% } %>
        </select>

        <input type="hidden" name="year" value="2025"> <!-- Static for now, can be dynamic -->

        <button type="submit">Check Availability</button>
    </form>


    <form action="/admin/subscribe" method="POST">
        <input type="email" name="email" placeholder="Enter your email" required>
        <button type="submit">Subscribe</button>
    </form>

</body>
</html>